.members {
  .activity {
    .stats {
      font-size: 18px;

      margin: {
        top: 15px;
        bottom: 15px;
      }

      th {
        padding-right: 10px;
      }
    }
  }
}

form.new_member, form.edit_member {
  div {
    margin: {
      top: 10px;
    }
  }

  input, span {
    margin: {
      right: 3px;
    }
  }

  span {
    display: inline-block;
  }

  textarea {
    width: 400px;
    height: 200px;
  }
}
